{% load static %}
{% load app_filters %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/css/base.css' %}" />

    <link rel="stylesheet" href="{% static 'recipe/css/StarRating.css' %}">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    {% block style %}{% endblock style %} 
</head>

<body>
    {% include 'recipe/navbar.html' %}
    <main class="container-fluid w-100 h-100">
        {% block content %}
        <!--Test -->
        Test
        {% endblock content %}
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock scripts %}
    <script>
        const uid ={% if user.is_authenticated %} {{user.id}} {% else %} -1 {% endif %};
        let base = {}
        base.url = new URL(window.location.href);
        flash = base.url.searchParams.get("flash");
        if(flash){
            alert(flash);
        }
        class StarRating extends HTMLElement {
            get value () {
            return this.getAttribute('value') || 0;
            }
            set value (val) {
                this.setAttribute('value', val);
                this.highlight(this.value - 1);
            }
            get number () {
                return this.getAttribute('number') || 5;
            }

            get display() {
                return this.getAttribute('display') || "no";
            }
            set number (val) {
                this.setAttribute('number', val);
                this.stars = [];
                while (this.firstChild) {
                    this.removeChild(this.firstChild);
                 }
                for (let i = 0; i < this.number; i++) {
                    let s = document.createElement('div');
                    s.className = 'star';
                    this.appendChild(s);
                    this.stars.push(s);
                }
                this.value = this.value;
            }

            highlight (index) {
                this.stars.forEach((star, i) => {
                    star.classList.toggle('full', i <= index);
                });
            }

            highlight2 (index) {
                this.stars.forEach((star, i) => {
                    {% comment %} index is the rating so i needs to be larger than the rating but smaller than 1-rating{% endcomment %}
                    {% comment %} buggy need fix {% endcomment %}
                    {% comment %} star.classList.toggle('half', index < i < index + 1); {% endcomment %}
                });
            }

        constructor () {
            super();
            this.number = this.number;
            if (this.getAttribute('display') == "no") {
                console.log(this.getAttribute('value'))
                this.highlight(this.getAttribute('value') - 1 || 0);
                this.highlight2(this.getAttribute('value') - 1 || 0);
            }
            this.addEventListener('click', e => {
                let box = this.getBoundingClientRect(),
                    starIndex = Math.floor((e.pageX - box.left) / box.width * this.stars.length);
                if (this.getAttribute('display') == "yes") {
                    $.post("{% url 'rate' %}",{id: $(this).attr("id").split("-")[1], rater: uid, rating: starIndex + 1});
                    this.highlight(starIndex);
                }
            });
        }
        }
        customElements.define('x-star-rating', StarRating);
    </script>
</body>

</html>

{% comment %} help https://github.com/GeekLaunch/star-rating {% endcomment %}

