{% extends 'recipe/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
      <!-- <form class="" action="index.html" method="post"> -->
        <div class="col-lg-4 col-sm-12 border d-flex flex-column align-items-center">
          <div class="input-group mb-3">
            <!-- TODO: put label & input in same span with no extra space -->
            <!-- <span class="mx-0 px-0 mw-100">
              <label for="name">Name:</label>
              <input id="name" class="mx-2 w-25" type="text" value="" placeholder="Name" maxlength="50">
            </span>
            <span class="mx-0 px-0 mw-100">
              <label for="ct">Cooking Time:</label>
              <input id="ct" class="mx-2 w-25" type="text" value="" placeholder="Minutes">
            </span> -->
            <label for="name">Name:</label>
            <input id="name" class="mx-2 mb-1" type="text" value="" placeholder="My Recipe" maxlength="50" style="width:25%">
            <label for="ct">Cooking Time (minutes):</label>
            <input id="ct" class="mx-2 mb-1" type="text" value="" placeholder="45" maxlength="6" style="width:10%">
          </div>

          <div class="input-group mb-3">
            <label for="servings">Servings:</label>
            <input id="servings" class="mx-2 mb-1" type="text" value="" placeholder="1" maxlength="2" style="width:25%">
            <label for="servingSize">Serving Size:</label>
            <input id="servingSize" class="mx-2 mb-1" type="text" value="" placeholder="1 cup" style="width:25%">
          </div>

          <label for="description">Description: </label>
          <!-- <input  type="text" value="" placeholder="Description..." maxlength="250" class="form-control"> -->
          <textarea id="description"></textarea>

          <div class="input-group mb-3">
            {% for c in classifications %}
              <input type="radio" class="btn-check" name="options" id="option{{forloop.counter}}" autocomplete="off">
              <label class="btn border btn-outline-info" for="option{{forloop.counter}}" onclick="recipeType = this.innerHTML">{{c.label}}</label>
            {% endfor %}
          </div>

          <!-- very cool image thing adapted from  -->
          <!-- Uploaded image area-->
          <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">

          <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0 btn btn-outline-info">
                <!-- <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label> -->
                <!-- <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div> -->
            </div>
          </div>
          <!-- end of very cool image thing -->

          <!-- less cool image thing -->
          <!-- <label for="recipe-pic">[Upload or Drag Image]</label>
          <input id="recipe-pic" type="file" placeholder="Upload an Image"> -->
          <span>
            <!-- <button type="button" name="button" class="btn" style="background-color:rgba(58,248,200,.2)">Preview</button> -->
            <input type="checkbox" id="priv" checked="true" onchange="priva = !priva">
            <label for="priv">Private</label>

            <button id="save" class="btn border btn-outline-info" type="button" name="button" onClick="throw new Error('NYI. Remove from onClick when done.'); sendRecipeInfo()">Save</button>
            <!-- <button type="button" name="button">Publish</button> -->
          </span>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex flex-column align-items-center">
          <h3><u>Instructions</u></h3>
          <ol id="steps">

          </ol>
          <button type="button" class="btn btn-outline-info w-25" onClick="addStep()" style="font-size:2rem">⊕</button>
          <h3><u>Tags</u></h3>
          <textarea id="tags"></textarea>
          <!-- <button type="button" class="btn btn-info" onClick="addTags()" style="font-size:3rem">⊕</button> -->
        </div>
        <div class="col-lg-4 col-sm-12 border d-flex flex-column align-items-center">
          <h3><u>Ingredients</u></h3>
          <ol id="ingredients">

          </ol>
          <button type="button" class="btn btn-outline-info" onClick="addIngredient()" style="font-size:2rem; width:25%">⊕</button>
        </div>
      <!-- </form> -->
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'recipe/js/create.js' %}"></script>
  <script type="text/javascript">
    const uid = {{user.id}};
  </script>
{% endblock scripts %}
