{% extends 'recipe/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
      <!-- <form class="" action="index.html" method="post"> -->
        <div class="col-lg-4 col-sm-12 border">
          <label for="name">Name: </label>
          <input id="name" type="text" value="" placeholder="Name..." maxlength="50">

          <label for="description">Description: </label>
          <!-- <input  type="text" value="" placeholder="Description..." maxlength="250" class="form-control"> -->
          <textarea id="description">

          </textarea>
          <input type="text" value="" placeholder="Cooking Time (minutes)...">


          <span>
            <label for="servings">Servings: </label>
            <input id="servings" type="text" value="" placeholder="Servings" maxlength="2">
          </span>

          <span>
            <label for="servingSize">Serving Size: </label>
            <input id="servingSize" type="text" value="" placeholder="Serving Size">
          </span>



          <div class="input-group mb-3">
            {% for c in classifications %}
              <input type="radio" class="btn-check" name="options" id="option{{forloop.counter}}" autocomplete="off">
              <label class="btn border btn-info" for="option{{forloop.counter}}" onclick="console.log(this.innerHTML.toString)">{{c.label}}</label>
            {% endfor %}
          </div>

          <!-- <img src="" /> -->
          <label for="recipe-pic">[Upload or Drag Image]</label>
          <input id="recipe-pic" type="image" style="display:none">
          <span>
            <button type="button" name="button" class="btn" style="background-color:rgba(58,248,200,.2)">Preview</button>
            <button type="button" name="button">Save</button>
            <button type="button" name="button">Publish</button>
          </span>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
          <h3><u>Instructions</u></h3>
          <ol id="steps">

          </ol>
          <button type="button" name="button" onClick="addStep()">+</button>
        </div>
        <div class="col-lg-4 col-sm-12">

        </div>
      <!-- </form> -->
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'recipe/js/create.js' %}"></script>
{% endblock scripts %}
