{% extends 'recipe/base.html' %}
{% block content %}
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <input type="text" value="" placeholder="Name..." maxlength="50">
        <input type="text" value="" placeholder="Description..." maxlength="250">
        <input type="text" value="" placeholder="Cooking Time (minutes)...">
        <span>
          <p>Servings: </p>
          <input type="text" value="" placeholder="Servings" maxlength="2">
        </span>
        <span>
          <p>Serving Size: </p>
          <input type="text" value="" placeholder="Serving Size">
        </span>
        <span>

        </span>
        <!-- <img src="" /> -->
        <input type="image" value="[Upload or Drag Image]">
        <span>
          <button type="button" name="button" class="btn" style="background-color:rgba(58,248,200,.2)">Preview</button>
          <button type="button" name="button">Save</button>
          <button type="button" name="button">Publish</button>
        </span>
      </div>
      <div class="col-lg-4 col-sm-12">

      </div>
      <div class="col-lg-4 col-sm-12">

      </div>
    </div>
{% endblock %}
