{% extends 'recipe/base.html' %}
{% load static %}
{% load app_filters %}
{% block content %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/css/recipe.css' %}" />

	<style type="text/css">
		main{
			padding:0px;
		}
		.container{
			height: 100vh; 
			background-color: magenta;
			{% comment %} font-family: Ubuntu; {% endcomment %}
		}
		.row{
			background-color: #F0D2D1;
		}
		.box1{
			{% comment %} font-family: Ubuntu; {% endcomment %}
			height: 100vh; 
			margin-left: 0px;
			margin-right: 0px;
			background-color: #F0D2D1;
			border-top: 5px solid #8EB19D;
			border-right: 5px solid #8EB19D;

		}

		#box2{
			padding-top: 10px;
			{% comment %} font-family: Ubuntu; {% endcomment %}
			height: 100vh;
			background-color: #F0D2D1;
			border-right: 5px solid #8EB19D;
		}
		#box3{
			height: 100vh;
			background-color: #F0D2D1;

		}
		h1{
			text-align: center !important;
			margin-top: 20px !important;
			font-weight: bold !important;
			text-decoration: underline !important;
		}
		.title{
			text-align: center !important;
			margin-top: 20px !important;
			font-weight: bold !important;
			text-decoration: underline !important;
			color:black;
		}
		h2{
			margin-top: 40px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			text-decoration: underline;
		}
		h5{
			text-align: center;
			font-weight: bold;
		}
		input[type='number'] {
			width: 55px;
			height: 45px;
			font-size: 18px;
			margin-bottom: 0px;
			background-color: rgb(214, 212, 210);
			border-radius: 5px;

		}
		.ingredients{
			margin-top: 30px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 30px;
			text-decoration: underline;

		}
		.ordered-ing{
			margin-top: 0px;
			font-size: 22px;
			list-style-position: inside;
			text-align: left;
		}
		.steps{
			margin-top: 35px;
			text-align: center;
			font-size: 30px;
			text-decoration: underline;

		}
		.ordered-sps{
			margin-top: 20px;
			font-size: 22px;
			list-style-position: inside;
			text-align: left;
		}
		.scroll{
			overflow-y: auto;
			overflow-x: hidden;
			position: relative;
			margin-left: 0px;
			margin-right: 0px;
		}
		#exampleModalLabel{
			text-align: center;
		}
		ol {
			font-weight:bold;
		}
		ol li span {
			font-weight:normal;
		}

		.rating{
			background-color: #F6EFA6;
			color: grey;
			box-shadow: 2px 8px rgba(153, 166, 176, 0.62);
			min-width: 150px;
			min-height: 50px;
			border-radius: 30px;
			{% comment %} font-family: Ubuntu; {% endcomment %}
			font-weight: bold;
			font-size: 30px;
			margin-top: 20px;

		}
		.menu{
			background-color: #F6EFA6;
			margin-top: 0px;
			margin-left: 0px;

		}
		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			background-image:none !important;
		}
		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			background-color:#8EB19D;
		}
		.exit{
			background-color: red;
			float: right;
			margin-right: auto;
			margin-left: auto;
			border-radius: 0px;

		}
		li input {
			position: absolute;
			margin-left: -47px;
			margin-top: 7px;
			padding: 10px;
		}
		.filler{
			margin-top: 65px;
		}

		a {
			text-decoration: none;
			display: inline-block;
			padding: 8px 16px;
		}

		a:hover {
			background-color: #8EB19D;;
			color: black;
		}

		.previous {
			background-color: #F6EFA6;
			color: black;
		}

		.next {
			background-color: #F6EFA6;
			color: black;
		}
		.servSize{
			margin-top: 0px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 20px;
			{% comment %} text-decoration: underline; {% endcomment %}
		}

		#rec-overflow{
			float: right;
		}

	</style>
{% endblock style %}

<div class="row">
	<div class="dropdown">
		{% include 'recipe/partials/mealDropdown.html' %}
		<div id= "rec-overflow">
			<a href="#" id="previousPage" class="previous">&#8592;</a>
			<a href="#" id="nextPage" class="next">&#8594;</a>
		</div>
	</div>
	

	{% for recipe in recipes %} 
		<div class="col-lg-4 col-md-6 col-sm-12 scroll p-0 box1" id= "box-{{recipe.id}}"> 
			<button type="button" class="btn-close exit" id="close-{{recipe.id}}" onClick="closeRecipe(this)"></button>

			<h1><a href="{% url 'recipe' recipe.id %}" class="title">{{recipe.name}} </a></h1>
			<!-- Button trigger modal -->
			<div class= "mx-auto text-center">
				<button type="button" class="btn rating"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{recipe.id}}">
					Rating
				</button>
			</div>
			<!-- Modal -->
			{% include 'recipe/partials/ratingModal.html' %}
			<div class="ingredients text-decoration-underline">
				Ingredients | Servings: <input id="servings-{{recipe.id}}" class="servings" type="number" value="{{recipe.servings}}" placeholder="{{recipe.servings}}" min=0> 
			</div>
			<div class= "servSize">
				Serving Size: {{recipe.servingSize}}
			</div>
		<div class="ordered-ing"id="inglist-{{recipe.id}}">
			<ul type="disc">
				{% for ingredient in recipe|get_right_ingredients:1 %} 
					<li> {{ingredient}} </li>
				{% endfor %}
			</ul>
		</div>

		<div class="steps text-decoration-underline">
			Steps | {{recipe.cookingTime}} min
		</div>
<!-- 		<ol class="ordered-sps">
			{% for step in recipe.steps %} 
				<li>
					<input type= "checkbox" onclick="$(this).parent().toggleClass('text-decoration-line-through')">
					<span>{{step}}</span>
				</li>
			{% endfor %} 
		</ol>  -->

		<div class="text-center">
			<!-- Shopping List -->
			<ul style="text-align: left; margin-left: 15%; list-style-type: none; font-size: 20px;">

				{% for step in recipe.steps %} 
				<li style="margin-bottom: 2%;"><input type="checkbox" style="width: 20px; height: 15px;" onclick="$(this).parent().toggleClass('text-decoration-line-through')"><span> {{step}}</span></li>
				{% endfor %} 
			</ul>
		</div>
	</div>
{% endfor %}    
</div>
{% include 'recipe/partials/saveMeal.html' %}

 {% endblock content %}
 {% block scripts %}
 <script type="text/javascript" src="{% static 'recipe/js/menubar.js' %}"></script>
 <script>
	let ids = "{{ids}}".split(",").map(i=>Number(i));
	ids.sort((a, b) => a - b);
	var index = 0;
	var rec_display_num = 3;

	function choose_display_num () {
		if ($(window).width() < 750) {
			rec_display_num = 1;
		} else if ($(window).width() < 1000) {
			rec_display_num = 2;
		} else {
			rec_display_num = 3;
		}
	}

	function display_certain(index) {
		choose_display_num();
		displayed = 0;
		for (var i = 0; i < ids.length; i++) {
			if (i < index) {
				$("#box-" + ids[i]).hide();
			} else if (displayed < rec_display_num) {
				$("#box-" + ids[i]).show();
				displayed += 1;
			} else {
				$("#box-" + ids[i]).hide();
			}
		}
	}
	currentOnload = window.onload;
	window.onload = function () {
		for (var i = 0; i < ids.length; i++) {
			$("#box-" + ids[i]).hide();
		}
		currentOnload();
		display_certain(index);
	}
	$(window).resize(function () {
		display_certain(index);
	});

	$("#previousPage").on('input click', function() {
		if (index == 0) {
			return;
		}
		index -= 1;
		display_certain(index);


	});
	$("#nextPage").on('input click', function() {
		if (index >= ids.length || index >= ids.length - rec_display_num) {
			return;
		}
		index +=1;

		display_certain(index)

	});
 	function get_new_ing_list(recipeId, multiplier) {
 		newings = 'no';
 		$.post("{% url 'get_new_ing_list'%}",{
 			id: recipeId, mult: multiplier
 		},
 		function(data,status,JqXHR) {
 			const ingredients = data.split(",");
			var rightlist = "inglist-" + recipeId;
 			//document.getElementById(rightlist).innerHTML = "<ul style type=\"circle\">"
 	 		document.getElementById(rightlist).innerHTML = "<ul style type=\"circle\">"

 			for (var i = 0; i < ingredients.length;i++) {
 				var newList = document.getElementById(rightlist);
 				newList.innerHTML += "<li>"+ ingredients[i] +"</li>"

 			}
 		var updatedList = document.getElementById(rightlist);
 		updatedList.innerHTML += "</ul>"
 		//updatedList.style.color = '#42CAFD';
 	 	updatedList.style.listStylePosition = 'inside';
 	  	updatedList.style.textAlign = 'left';
 	  	updatedList.style.marginLeft = '20px';
 		}) 
 		return newings
 	}
	 
 	$('.servings').on('input click', function() {
 		var val = $(this).val();
 		$("#inglist" ).replaceWith("")
 		var new_val = val/Number($(this).attr('placeholder'));
		let recipeId = Number($(this).attr('id').split("-")[1]);
		document.cookie = "servings-"+recipeId+"="+val+";path=/"
 		var a = get_new_ing_list(recipeId, new_val);
 	});


	const url = new URL(window.location.href);
	function closeRecipe(t){
		//window.location.href = 'http://www.google.com'
		let ids = "{{ids}}".split(",")
		let removedID = $(t).attr("id").split("-")[1]
		ids.splice(ids.indexOf(removedID),1)
		mealApp.removeFromMeal("JUNK",Number(removedID))
		window.location.href = '/meal/'+ids.join(",")
	}
	//window.onload = function(){
		//size = url.get('size')
		//if window.size == 'small' and recPerPage != 1:
			//set recPerPage =1 and refresh
		//if window.size == 'medium' and size != medium:
			//set size parameter to medium and refresh
	//}
</script>
{% endblock scripts %}

