{% extends 'recipe/base.html' %}
{% load static %}
{% load app_filters %}
{% block content %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/css/recipe.css' %}" />

	<style type="text/css">

		.container{
			height: 100vh; 
			background-color: magenta;
			font-family: Ubuntu;
		}
		.row{
			background-color: #F0D2D1;
		}
		#box1{
			font-family: Ubuntu;
			height: 100vh; 
			margin-left: 0px;
			margin-right: 0px;
			background-color: #F0D2D1;
			border-top: 5px solid #8EB19D;
			border-right: 5px solid #8EB19D;

		}

		#box2{
			padding-top: 10px;
			font-family: Ubuntu;
			height: 100vh;
			background-color: #F0D2D1;
			border-right: 5px solid #8EB19D;
		}
		#box3{
			height: 100vh;
			background-color: #F0D2D1;

		}
		h1{
			text-align: center !important;
			margin-top: 20px !important;
			font-weight: bold !important;
			text-decoration: underline !important;
		}
		.title{
			text-align: center !important;
			margin-top: 20px !important;
			font-weight: bold !important;
			text-decoration: underline !important;
			color:black;
		}
		h2{
			margin-top: 40px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			text-decoration: underline;
		}
		h5{
			text-align: center;
			font-weight: bold;
		}
		input[type='number'] {
			width: 55px;
			height: 45px;
			font-size: 18px;
			margin-bottom: 0px;
			background-color: rgb(214, 212, 210);
			border-radius: 5px;

		}
		.ingredients{
			margin-top: 30px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 30px;
			text-decoration: underline;

		}
		.ordered-ing{
			margin-top: 0px;
			font-size: 22px;
			list-style-position: inside;
			text-align: left;
		}
		.steps{
			margin-top: 35px;
			text-align: center;
			font-size: 30px;
			text-decoration: underline;

		}
		.ordered-sps{
			margin-top: 20px;
			font-size: 22px;
			list-style-position: inside;
			text-align: left;
		}
		.scroll{
			overflow-y: auto;
			overflow-x: hidden;
			position: relative;
			margin-left: 0px;
			margin-right: 0px;
		}
		#exampleModalLabel{
			text-align: center;
		}
		ol {
			font-weight:bold;
		}
		ol li span {
			font-weight:normal;
		}

		.rating{
			background-color: #F6EFA6;
			color: grey;
			box-shadow: 2px 8px rgba(153, 166, 176, 0.62);
			min-width: 150px;
			min-height: 50px;
			border-radius: 30px;
			font-family: Ubuntu;
			font-weight: bold;
			font-size: 30px;
			margin-top: 20px;

		}
		.menu{
			background-color: #F6EFA6;
			margin-top: 0px;
			margin-left: 0px;

		}
		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			background-image:none !important;
		}
		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			background-color:#8EB19D;
		}
		.exit{
			background-color: red;
			float: right;
			margin-right: auto;
			margin-left: auto;
			border-radius: 0px;

		}
		li input {
			position: absolute;
			margin-left: -47px;
			margin-top: 7px;
			padding: 10px;
		}
		.filler{
			margin-top: 65px;
		}



		a {
			text-decoration: none;
			display: inline-block;
			padding: 8px 16px;
		}

		a:hover {
			background-color: #8EB19D;;
			color: black;
		}

		.previous {
			background-color: #F6EFA6;
			color: black;
		}

		.next {
			background-color: #F6EFA6;
			color: black;
		}
		.servSize{
			margin-top: 0px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 20px;
			{% comment %} text-decoration: underline; {% endcomment %}
		}

		#rec-overflow{
			float: right;
		}

	</style>
{% endblock style %}

<div class="container-fluid h-100 p-0">
	<div class="row">
		{% include 'recipe/partials/mealDropdown.html' %}
		<div id= "rec-overflow">
			<a href="#" class="previous">&#8592;</a>
			<a href="#" class="next">&#8594;</a>
    	</div>

		{% for recipe in recipes %} 
			<div class="col-lg-4 col-md-6 col-sm-12 scroll p-0" id= "box1"> 
				<button type="button" class="btn-close exit" id="close-{{recipe.id}}" onClick="closeRecipe(this)"></button>

				<h1><a href="{% url 'recipe' recipe.id %}" class="title">{{recipe.name}} </a></h1>
				<!-- Button trigger modal -->
				<div class= "mx-auto text-center">
					<button type="button" class="btn rating"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{recipe.id}}">
						Rating
					</button>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal-{{recipe.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								{% with recipe.rating as rating %}
								<h5 class="modal-title text-center" id="exampleModalLabel"> Average Rating: {% include 'recipe/rating.html' %}</h5>
								{% endwith %}

								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<h5> How would you rate this recipe? 
								{% with 'input' as rating %}
									{% include 'recipe/rating.html' %}
								{% endwith %}
								</h5>
								<div style="display:inline-block;" id="rateYo"></div>
								<input type="hidden" name="rating" id="rating_input"/>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn bg-info" data-bs-dismiss="modal">Save</button>
							</div>
						</div>
					</div>
				</div>
				<div class="ingredients text-decoration-underline">
					Ingredients | Servings: <input id="servings-{{recipe.id}}" class="servings" type="number" value="{{recipe.servings}}" placeholder="{{recipe.servings}}" min=0> 
				</div>
				<div class= "servSize">
					Serving Size: {{recipe.servingSize}}
				</div>
			<div class="ordered-ing"id="inglist-{{recipe.id}}">
				<ul type="disc">
					{% for ingredient in recipe|get_right_ingredients:1 %} 
						<li> {{ingredient}} </li>
					{% endfor %}
				</ul>
			</div>

			<div class="steps text-decoration-underline">
				Steps | {{recipe.cookingTime}} min
			</div>
			<ol class="ordered-sps">
				{% for step in recipe.steps %} 
					<li>
						<input type= "checkbox" onclick="$(this).parent().toggleClass('text-decoration-line-through')">
						<span>{{step}}</span>
					</li>
				{% endfor %} 
			</ol> 
		</div>
	{% endfor %}    
</div>
</div>

 {% endblock content %}
 {% block scripts %}
 <script type="text/javascript" src="{% static 'recipe/js/menubar.js' %}"></script>
 <script>
 	function get_new_ing_list(recipeId, multiplier) {
 		newings = 'no';
 		$.post("{% url 'get_new_ing_list'%}",{
 			id: recipeId, mult: multiplier
 		},
 		function(data,status,JqXHR) {
 			const ingredients = data.split(",");
			var rightlist = "inglist-" + recipeId;
 			//document.getElementById(rightlist).innerHTML = "<ul style type=\"circle\">"
 	 		document.getElementById(rightlist).innerHTML = "<ul style type=\"circle\">"

 			for (var i = 0; i < ingredients.length;i++) {
 				var newList = document.getElementById(rightlist);
 				newList.innerHTML += "<li>"+ ingredients[i] +"</li>"

 			}
 		var updatedList = document.getElementById(rightlist);
 		updatedList.innerHTML += "</ul>"
 		//updatedList.style.color = '#42CAFD';
 	 	updatedList.style.listStylePosition = 'inside';
 	  	updatedList.style.textAlign = 'left';
 	  	updatedList.style.marginLeft = '20px';
 		}) 
 		return newings
 	}
	 
 	$('.servings').on('input click', function() {
 		var val = $(this).val();
 		$("#inglist" ).replaceWith("")
 		var new_val = val/Number($(this).attr('placeholder'));
		let recipeId = Number($(this).attr('id').split("-")[1]);
		document.cookie = "servings-"+recipeId+"="+val+";path=/"
 		var a = get_new_ing_list(recipeId, new_val);
 	});


	const url = new URL(window.location.href);
	function closeRecipe(t){
		//window.location.href = 'http://www.google.com'
		let ids = "{{ids}}".split(",")
		console.log(ids)
		let removedID = $(t).attr("id").split("-")[1]
		ids.splice(ids.indexOf(removedID),1)
		mealApp.removeFromMeal("JUNK",Number(removedID))
		window.location.href = '/meal/'+ids.join(",")
	}
	//window.onload = function(){
		//size = url.get('size')
		//if window.size == 'small' and recPerPage != 1:
			//set recPerPage =1 and refresh
		//if window.size == 'medium' and size != medium:
			//set size parameter to medium and refresh
	//}
</script>
{% endblock scripts %}

