<div class="color4 h-100 w-100 text-center">
    <div class="btn btn-rounded border color5 mt-3 text-center "><h3>My Meal</h3></div>
    <div class="btn btn-rounded border color5 mt-5 w-75">
        <ul id='menu-recipes' style="list-style-type:none" class="text-start px-0"></ul>
    </div>
    <button class="btn btn-rounded border color1 mt-5 w-75 text-center" onclick="mealApp.goToShoppingList()">Generate my Shopping List</button>
    <button class="btn btn-rounded border color1 mt-5 w-75 text-center" onclick="mealApp.goToMeal()">Show recipes for my meal</button>
</div>