{% block style %}
<style>
    /* .navbar-custom {
        background-color: lightgreen;
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: green;
    } */
</style>
{% endblock style %}

<nav class="navbar fixed-top navbar-expand-sm navbar-light text-center color2" height="60px">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Recipiecemeal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto">
                <li class="nav-item border border-dark color1">
                    <a class="nav-link" href="{% url 'search-recipes' %}">Search Recipes</a>
                </li>
                <li class="nav-item border border-dark color1">
                    <a class="nav-link" href="{% url 'create-recipe' %}">Create Recipe</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item border border-dark color1">
                    <a class="nav-link" href="{% url 'help' %}">Help</a>
                </li>
                <li class="nav-item border border-dark color1">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">Logout {{ user.username}}</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>