{% extends 'recipe/base.html' %}
{% load static %}
{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'recipe/css/recipe.css' %}" />
{% endblock style %} 
{% block content %}
    <div id="mySidebar" class="sidebar">
        <!-- Why do I need this??????? -->
        <div id="mymeal">
        </div>
        <div id="what">
            My meal
        </div>
        <div id="mealnames">
            <!-- This is where we will add all the recipe names with meals -->
        </div>
        <button type="button" class="btn" id="shoppinglist">Show Shopping List</button>
        <button type="button" class="btn" id="recipes">Show Meal Recipes</button>
        
    </div>
    <div id="main">
        <div id="open">
            <img id="rightchevron"  src="{% static 'recipe/images/rightchevron.png' %}" />
            <img id="leftchevron"  src="{% static 'recipe/images/leftchevron.png' %}" />
            <img src='{{recipe.image.url}}'>
            <h1> {{recipe.name}}</h1>
            <h4>By {{recipe.username}}</h4>
            <h4>Rating:{{recipe.rating}}</h4>
        </div>
    </div>
{% endblock content %} 
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
        var open = false;
        $("#leftchevron").hide();
        $( "#open" ).click(function() {
            if (open) {
                $( "#mySidebar" ).css("width", "0px");
                $("#main").css("marginLeft","0px");
                $("#rightchevron").show();
                $("#leftchevron").hide();
                open = false;
            } else {
                $( "#mySidebar" ).css("width", "300px");
                $("#main").css("marginLeft","300px");
                $("#rightchevron").hide();
                $("#leftchevron").show();
                open = true;
            }
        });
        $( "#shoppinglist" ).click(function() {
            // figure out later
        });
        $( "#recipes" ).click(function() {
            // figure
        });

    });
    </script>
{% endblock scripts %}

<!-- Help: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapse_sidebar 
https://www.geeksforgeeks.org/python-stemming-words-with-nltk/-->


