<div class='border border-dark col-lg-4 col-md-6 col-xs-12 px-0 m-2'>
    <a href="{% url 'recipe' recipe.id %}" class="h-100 w-100">
        <img src='{{recipe.image.url}}' class='w-100 border-bottom border-dark' style="height:60%"/>
    </a>
    <div class="px-1">
         <a href="{% url 'recipe' recipe.id %}"><h5>{{recipe.name}}</h5></a>
         <div class="float-start">
            {% with recipe.rating as rating %}
                <h6>{% include 'recipe/rating.html' %}</h6>
            {% endwith %}
            <p>By {{recipe.author.username}}</p>
         </div>
         <button id="addToMeal-{{recipe.id}}" type="button" class="btn btn-success float-end addToMeal" onclick="mealApp.addToMeal(this,{{recipe.id}},'{{recipe.name}}')">+</button>
    </div>  
</div>
