{% extends 'recipe/base.html' %}
{% load static %}
{% load app_filters %}

{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'recipe/css/recipe.css' %}" />
{% endblock style %} 

{% block content %}
    <div id="mySidebar" class="sidebar">
        {% include 'recipe/menubar.html' %}
    </div>
    <div id="main">
        <div id="open">
            <img id="rightchevron"  src="{% static 'recipe/images/rightchevron.png' %}" />
            <img id="leftchevron"  src="{% static 'recipe/images/leftchevron.png' %}" />
        </div>
        <div id="top_display">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img id="image" src='{{recipe.image.url}}'>
                    </div>
                    <div id ="name_and_desc" class="col-md-6">
                        <div id="name">
                            {{recipe.name}}
                        </div>
                        <div id="author">
                            By {{recipe.author}}
                        </div>
                        <div id="desc">
                            Description: 
                            <br>
                            {{recipe.description}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            Rating: {{recipe.rating}}
                            {% with ecipe.rating as rating %}
                                {% include 'recipe/rating.html' %}
                            {% endwith %}
                        </div>
                        <div>
                            <button id="addToMeal-{{recipe.id}}" type="button" class="btn btn-success addToMeal" onclick="mealApp.addToMeal(this,{{recipe.id}},'{{recipe.name}}')">+</button>
                        </div>
                        <div id="edit">
                            <img id="pencil" src="{% static 'recipe/images/pencil.png' %}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    Classification: {{recipe.classification}}
                    <br>
                    Tags:
                    <br>
                    {% for tag in recipe.tags %} 
                        {{tag}}
                            <br>
                    {% endfor %}
                </div>
                <div id = "middlecol" class="col-md-6">
                    Ingredients | Servings: <input id="servings" type="number" value={{recipe.servings}} min=0>  Serving Size: {{recipe.servingSize}}
                    <div id="inglist">
                        <ul type="circle">
                        {% comment %} get rid of extraneous zeros {% endcomment %}
                        {% comment %} link to the edit page if current user matches author id then display button {% endcomment %}
                        {% comment %} fill back with original {% endcomment %}
                        {% for ingredient in recipe|get_right_ingredients:1 %} 
                            <li>
                            {{ingredient}}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    Instructions | {{recipe.cookingTime}} min
                    <ol id="instlist" type="1">
                    {% for instruction in recipe.steps %} 
                        <li>{{instruction}}</li>
                    {% endfor %}
                    </ol>
                    Rate this Recipe: <br>
                    {% with 'input' as rating %}
                        {% include 'recipe/rating.html' %}
                    {% endwith %}
                    <!-- figure out the star ratings? Maybe only one rating combo of user and recipe? and then you replace it -->
                </div>
            </div>
        </div>
        <div id="comments">
            Comments <br>
            <input id="yourcomment" type="text" placeholder="Add a comment">
            <label class="btn border btn-outline-info" id="addcomment">Save</label>
            <br>
            <div id ="oldcomments">
            {% for comment in recipe.comments %} 
                <div id="comment1">
                    {{comment.author}}: {{comment.content}}
                    <br>
                    written: {{comment.date_modified}}
                    <br>
                </div>
            <br>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %} 

{% block scripts %}
    <script type="text/javascript" src="{% static 'recipe/js/menubar.js' %}"></script>
    <script>
    function get_new_ing_list(multiplier) {
        newings = 'no';
        $.post("{% url 'get_new_ing_list'%}",{
            id: {{recipe.id}}, mult: multiplier
        },
        function(data,status,JqXHR) {
            const ingredients = data.split(",");
            document.getElementById("inglist").innerHTML = "<ul type=\"circle\">"
            for (var i = 0; i < ingredients.length;i++) {
                document.getElementById("inglist").innerHTML += "<li>"+ ingredients[i]+"</li>"
            }
            document.getElementById("inglist").innerHTML += "</ul>"
        }
        ) 
        return newings
    }
        
    $(document).ready(function(){
        var None = -1;
        if ({{user.id}} != {{recipe.author.id}}) {
            $("#edit").hide();
        }
        var open = false;
        let servings = {{recipe.servings}};
        $("#leftchevron").hide();
        $( "#open" ).click(function() {
            if (open) {
                $( "#mySidebar" ).css("width", "0px");
                $("#main").css("marginLeft","0px");
                $("#rightchevron").show();
                $("#leftchevron").hide();
                open = false;
            } else {
                $( "#mySidebar" ).css("width", "300px");
                $("#main").css("marginLeft","300px");
                $("#rightchevron").hide();
                $("#leftchevron").show();
                open = true;
            }
        });
        $('#servings').on('input', function() {
            var val = $("#servings").val();
            var new_val = val/{{recipe.servings}}
            var a = get_new_ing_list(new_val);
            // page refresh? tmux
        });
        $('#addcomment').click(function() {
            if ({{user.id}} == -1) {
                alert("Please Sign In to Comment!");
                return;
            }
            $.post("{% url 'comment'%}",{
            id: {{recipe.id}}, rater: {{user.id}}, content: $("#yourcomment").val(), date_time:Date.now() }
             {% comment %} },
            function(data,status,JqXHR) {
                need this to add the comment
                $( "#oldcomments" ).prepend();
            } {% endcomment %}
            ) 

        });

        $("#edit").click(function() {
            window.location.href = '/edit-recipe/' + {{recipe.id}}
        });
    });
    </script>
{% endblock scripts %}

<!-- Help: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapse_sidebar 
https://www.geeksforgeeks.org/python-stemming-words-with-nltk/-->


