{% extends 'recipe/base.html' %}
{% load static %}
{% block style %}
    <style>
        #closeMenu{
            float:right;
            position: absolute;
            top:0;
            right:0;
            z-index:2;
        }
        main{
            padding-left:0px !important;
            padding-right:0px !important;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class='row h-100 w-100 px-0'>
        <div id="menuArea" class='col-md-3'>
            <button type="button" id="openMenu"class="btn btn-outline-secondary rounded position-fixed" onclick="$('#menubar').show();$('#openMenu').hide()" aria-expanded="false" aria-controls="menubar">=</button>
            <div id="menubar" class="position-relative">
                {% include 'recipe/menubar.html' %}
                <button type="button" id="closeMenu" class="btn btn-outline-secondary rounded float-end" onclick="$('#menubar').hide();$('#openMenu').show()" aria-expanded="false" aria-controls="menubar">=</button>
            </div>
        </div> 
        <div id="mainSearchArea" class='col-md-6 h-100 p-2'>
            <div id='searchTop' class='row'></div>
            <div id='recipeArea' class='row w-100 h-auto p-4'>
                {% for recipe in recipes %} 
                    {% include 'recipe/recipe_box.html' %}
                {% endfor %}    
            </div>
        </div>
        <div id='filterArea' class='col-md-3'></div>
    </div>
    


{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'recipe/js/menubar.js' %}"></script>
<script>
    app = {};
    let currentOnload = window.onload
    window.onload = function(){
        currentOnload()
        app.setup = function(){
            $("#menubar").hide();
        }   
        app.setup()
    } 
</script>
{% endblock scripts %}