html,body{
    height:100%;
}
main{
    margin-top:58px;
}
.color1{
    background-color:#42CAFD;
}
.color2{
    background-color:#66B3BA;
}
.color3{
    background-color:#8EB19D;
}
.color4{
    background-color:#F6EFA6;
}
.color5{
    background-color:#F0D2D1;
}