html,body{
    height:100%;
    font-family: 'Poppins', sans-serif;
}
main{
    margin-top:58px;
}
.color1{
    background-color:#42CAFD;
}
.color2{
    background-color:#66B3BA;
}
.color3{
    /* background-color:#8EB19D; */
    /* background-color:#63f7a3; */
    /* background-color:#88eafc; */
    /* background-color:#fa97c9; */
    background-color:#f7f7e9;
}
.color4{
    background-color:#F6EFA6;
}
.color5{
    background-color:#F0D2D1;
}
.star{
    max-height:100%;
    max-width:18%;
}