/* https://css-tricks.com/text-input-expanding-bottom-border/ */
span:contenteditable {
  position: relative;
  bottom: -11px;
  color: white;
  display: inline-block;
  padding: 0.4rem 0;
  border-bottom: 4px solid #D5BA5E;
  outline: 0;
}


.radbtn {
  width:20%;
  font-size:calc(0.3rem+1vw);
}

.button1{
  background-color: white;
}
.button1:target{
  background-color:#66B3BA;
}

.btn-info {
  background-color: white;
}

/* very cool image css */
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
