.px-1{
    border-color: red;
    /* background-color: #8EB19D; */
}
.border{
    background-color: #42CAFD;
}
.hovering {
 background-color: #42CAFD;
}
.hovering .name:hover {
   background: #F6EFA6;
   box-shadow: 10px 5px 5px #8EB19D;
}
.picture{
    border-left: 10px;
}

img:hover{
 color: red;
}
.border-warning{
    border-color: #66B3BA !important;
    border-radius: 10px !important;
}
.bg-warning{
    background-color: #F6EFA6 !important;
}
.single:hover {
    border-color: yellow;
}
.image:hover{
    border-left-color: red;
}
.recipePicture{
    transition: all 300ms ease-out;
    overflow: visible;
}
.recipePicture:hover {
   box-shadow: 20px 0px 40px rgb(0,0,0,0.7);
   transform: translate(0, -7px);
   border-color: #F6EFA6;
   overflow: visible;

}
