#main {
    transition: 0.5s;
}
#mySidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top:60px;
    background-color: #F6EFA6;
    transition: 0.5s;
    overflow-x: hidden;
    text-align: center;
}
#mymeal {
    height: 100px;
    width: 200px;
    background-color: aliceblue;
    color: black;
    visibility: hidden;
}
#what {
    columns: white;
    height: 100px;
    width: 200px;
    background-color: #8EB19D;
    font-size: 40px;
    color: white;
    border-radius: 30px;
}
#open {
    height: 60px;
    width: 60px;
    transition: 0.5s;
    cursor: pointer;
    position: fixed;
}
#rightchevron {
    height: 100%;
    width: 100%;
}
#leftchevron {
    height: 100%;
    width: 100%;
}

#top_display {
    background-color: #66B3BA;
    padding: 20px;
}
#name {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-weight: bold;
}
#edit {
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#pencil {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#comments {
    
}
#yourcomment {
    border-radius: 3px;
    border-width: 0;
    background-color: gray;
    width: 50vw;
    height: 35px;
    color: white;
}

::placeholder { 
    color: white;
}

#servings {
    width: 50px;
}
#image {
    box-shadow: 10px 10px;
    border-radius: 10px;
}
#author{
    text-align: center;
}
#desc {
    text-align: center;
}
#middlecol {
    text-align: center;
}
#inglist, #instlist {
    display: table;
}

#comment1 {
    background-color: #F6EFA6;
    border-radius: 10px;
    box-shadow: 10px 10px #dacf5e;
    max-width:1000px;
}
#oldcomments {
    
}
#com {
    text-decoration: underline;
    text-align: center;
}