
x-star-rating {
    font-family: 'Ionicons';
    font-size: 42px;
    display: inline-flex;
}

x-star-rating > .star::after {
    content: '\f3ae';
    color: #777;
}

x-star-rating > .star.half::after {
    content: '\f3ad';
    color: #fd0;
}

x-star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}
