<div class="modal fade" id="saveMealModal" tabindex="-1" aria-labelledby="saveMealModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save Meal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <label for="meal-name">Meal Name: </label>
        <input name="meal-name" id = "meal-name" type="text" placeholder="Enter Meal Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="mealApp.saveMeal('{{user.id}}','{% url 'meal' ids %}')">Save changes</button>
      </div>
    </div>
  </div>
</div>